html {
	width: 100%;
	height: 100%;
}


:root {

	--h1: 64px;
	--h2: 24px;
	--p: 20px;
	--Black: #1E1919;
	--white: #ecfffc;
}

body {
	padding: 20px;
	background-color: var(--white);
}

/* section {
	display: flex;
	flex-direction: row;
} */

h1 {

	font-family: "darkmode-on", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	text-transform: capitalize;
	padding-bottom: 10%;

}

p {
	font-family: "darkmode-on", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 10px;
	padding-bottom: 10%;
	color: var(--white);
    mix-blend-mode: exclusion;
}






.buttoncontainer {
	width: 100%;
	display: flex;
	justify-content: center;

}


button {

	display: flex;
	height: 50px;
	width: 300px;
	padding: 15px;
	justify-content: center;
	align-items: center;
	gap: 15px;
	align-self: stretch;
	border-radius: 8px;
	border: 5px solid var(--Black);
	color: var(--Black);

	background: var(--white);


	font-family: Darkmode;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
	mix-blend-mode: exclusion;
    background: linear-gradient(135deg, #11cb3b, #2dff00);


}

.video_mobile {
	display: none;
}

.video_web {

	width: 100%;
	height: auto;
	object-fit: contain;
	position: absolute;
	z-index: -1;
	right: 30px;
	left: 5px;
	bottom: 10vh;


}

@media screen and (max-width: 1050px) {
	.video_mobile {
		display: none;
	}

	.video_web {
		width: 100%;
		height: auto;
		object-fit: contain;
		position: absolute;
		z-index: -1;
		right: 30px;
		left: 5px;
		top: 20%;
	}
	h1 {
        font-family: "darkmode-on", sans-serif;
        font-weight:700px;
        font-style: normal;
        font-size: 30px;
        text-transform: capitalize;
        /* font-weight: 900; */
    }
	
}



/* less than 600px */
@media screen and (max-width: 600px) {
	.video_web {
		display: none;
	}

	.video_mobile {
		display: block;
		width: 100%;
		height: auto;
		object-fit: contain;
		position: absolute;
		z-index: -1;
		right: 30px;
		left: 5px;
		top: 20%;
	}

	h1 {

		font-family: "darkmo", sans-serif;
		font-weight: 900;
		font-style: normal;
		font-size: 80px;
		

		text-transform: capitalize;

	}

	p {
		font-family: "darkmode-on", sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 10px;

		/* padding-top: 30%; */
		padding-bottom: 45%;

	}




	.buttoncontainer {
		width: 100%;
		display: flex;
		justify-content: center;
	
	}
	
	
	button {
	
		display: flex;
		height: 50px;
		width: 400px;
		padding: 15px;
		justify-content: center;
		align-items: center;
		gap: 15px;
		align-self: stretch;
		border-radius: 8px;
		border: 5px solid var(--Black);
		color: var(--Black);
	
		background: var(--white);
	
	
		font-family: Darkmode;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: capitalize;
		mix-blend-mode: exclusion;
    background: linear-gradient(135deg, #11cb3b, #2dff00);
	
	}
	


}


/* SCREEN IS SMALLER THAN 530 PX */
@media screen and (max-width: 530px) {
	.video_mobile {
		width: 100vw;
		height: auto;
		object-fit: contain;
		position: absolute;
		z-index: -1;
		right: 30px;
		left: 5px;
		top: 2vh;
	}

	/* .video_web {
		display: none;
	} */
	h1{font-size: 70px;}


}






/* SCREEN IS SMALLER THATN 400 PX */

@media screen and (max-width: 400px) {
	h1{font-size: 60px;}
}

/* WHEN SCREEN IS SMALLER THAN 350 PX */
@media screen and (max-width: 350px) {
	h1{font-size: 50px;}
}