html{
	width: 100%;
	height: 100%;
}
:root {

	--h1: 64px;
	--h2: 24px;
	--p: 20px;
	--Black: #1E1919;
	--white: #FFFEFA;

}

body {
	display: flex;
	height: 100%;
	
	background-color: blue;

}
form{
	height: 100%;
    width: 100%;
	display: flex;
	
}
.input{
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	/* height: 300px; */
	color: var(--white);
	font-family: "darkmode-on", sans-serif;
    font-size: var(--h2);
    font-style: normal;
    font-weight: 700;
    /* line-height: normal; */
    text-transform: capitalize;
	background-color: #180606;
	border-radius: 5px;
	border: 1px solid #d0ff00;



}
output{
	color: black;
}


h1 {

	font-family: "darkmode-on", sans-serif;
	font-size: var(--h2);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: capitalize;
	
	/* color: var(--white); */

}

h2 {
	font-family: "darkmode-on", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 200%;

	
	
}
/* the left div */
.leftDiv {
	background-color: white;
	 width: 20vw;
	 padding: 3vw; 
	 display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/* The slider */
#slider-ft, #slider-sc, #slider-river {
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    border-radius: 20px;
}

.rightDiv {
	background-color: rgb(30, 138, 177);
	width: 80vw;
	height: 100%;
	
}
p{
	color: #1E1919;

font-family: Darkmode;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;

}

.topDiv {
	background-color: var(--Black);
	display: flex;
	padding: 46px;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	flex: 1 0 0;
	align-self: stretch;
	height: 50%;
}
.bottomDiv {
	background-color: var(--white);
	display: flex;
	padding: 46px;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	flex: 1 0 0;
	align-self: stretch;
	color: var(--Black);
	border: 2px dotted black;
	height: 50%;
	
}

/* changing font styles */
h3{
	font-family: Darkmode;
font-size: var(--h2);
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}
/* changing the colors */
.h3White{color: var(--white);

}
.h3black{color: var(--Black);

	}









/* MEDIA QUERIES */

/* ALL RULES THAT APPLY WHEN SCREEN IS SMALLER THAN 1050 PX */
@media screen and (max-width: 1050px) {
	body {
		display: flex;
		
	flex-direction: column;
	
	}
	.leftDiv{
		width: 100%;
	}
	.rightDiv{
		width: 100%;
	}
	h1 {
		
		font-size: 20px;
		
	  }
}

/* WHEN SCREEN IS SMALLER THAN 600 PX */
@media screen and (max-width: 600px) {
	h1 {
		
		font-size: 14px;
		
	  }
}











/* SCREEN IS SMALLER THAN 530 PX */
@media screen and (max-width: 530px) {
	.body {
		display: flex;
		justify-content: center;
	}

	

}

/* SCREEN IS SMALLER THATN 400 PX */

@media screen and (max-width: 400px) {}

/* WHEN SCREEN IS SMALLER THAN 350 PX */
@media screen and (max-width: 350px) {}